* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Open sans';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

/* Conteneur de l'arrière-plan noir */
#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #0078c2, #0078c2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Assure que le loader reste au-dessus */
}

/* Nouveau loader */
.loader {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #fff;
    animation: l4 2.5s infinite;
}

.loader:after {
    animation-delay: -1.25s;
}

@keyframes l4 {
    0% {
        inset: 0 35px 35px 0;
    }

    12.5% {
        inset: 0 35px 0 0;
    }

    25% {
        inset: 35px 35px 0 0;
    }

    37.5% {
        inset: 35px 0 0 0;
    }

    50% {
        inset: 35px 0 0 35px;
    }

    62.5% {
        inset: 0 0 0 35px;
    }

    75% {
        inset: 0 0 35px 35px;
    }

    87.5% {
        inset: 0 0 35px 0;
    }

    100% {
        inset: 0 35px 35px 0;
    }
}

header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3 ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

li a {
    position: relative;
    color: white;
    font-weight: 300;

}

li a::before {
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, #009dff, #ff00ff);
}

li a:hover::before {
    width: 100%;
}

.visit-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Ubuntu';
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

.visit-btn:hover {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    transform: scale(1.03);
}

#menu-icone {
    font-size: 2rem;
    display: none;
}

section {
    min-height: 100vh;
    padding: 8rem 5%;
    width: 100%;
    position: relative;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -149px;
}

.about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;

}

.about img {
    width: 30vw;
    border-radius: 50%;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1 {
    font-size: 4rem;
    font-weight: 600;
}

.info-box span {
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.btn-group {
    display: flex;
    gap: 1rem;
}

.projet-card a h3 {
    font-weight: 800;
}

.btn:hover {
    background-color: #6c63ff;
    color: aqua;
}

.btn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    color: black;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background-color: black;
    color: white;
}

.socials {
    display: flex;
    gap: 2rem;
}

.socials i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: black;
}

.socials i:hover {
    transform: scale(1.1);
}

.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.experience {
    margin-bottom: -127px;
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience img {
    width: 24vw;
    border-radius: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-card {
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: left;
    cursor: default;
    transition: 0.2s ease-in-out;
}

.grid-card:hover {
    transform: scale(1.02);
    background-color: black;
    color: white;
}

.grid-card i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grid-card span {
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
    background-clip: text;
    color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(219, 219, 219);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(0, 157, 255), rgb(255, 0, 255));
    border-radius: 10px;
}

.projets {
    margin-bottom: -148px;
}

.projets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projets-grid {
    gap: 8px;
}

.projet-card {
    padding: 2em 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 15px;
    cursor: default;
    transition: 0.3s ease-in-out;
    margin: 20px 0;
    color: #000000;
}

.projet-card:hover {
    background-color: black;
    color: white;
    transform: translateY(-10px)scale(1.02);
}

.projet-card img {
    width: 20vw;
    border-radius: 10px;
}

.projet-card:hover .btn {
    border: 2px solid white;
    background-color: white;
    color: black;
}

.projet-card h3 {
    font-size: 2rem;
    font-weight: 500;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* gap: 2rem;
    margin-top: 5rem; */
}


.input {
    position: relative;
}

.input i {
    position: absolute;
    font-size: 3rem;
    top: 50%;
    left: 10px;
    transform: translate(50%, -50%);
}

#contact-form {
    background: #ffffff;
    padding: 30px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* max-width: 400px; */
    width: 100%;
    /* display: flex; */
    justify-content: center;
    /* text-align: end; */
}

#contact-form button {
    border: none;
    font-weight: bold;
    font-size: 15px;
}

#contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #000000;
}

#contact-form input,
#contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #6c63ff;
    outline: none;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}

#contact-form button:hover {
    background-color: #000000;
}

#contact-form button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(90, 82, 224, 0.5);
}

footer {
    bottom: 0;
    left: 0;
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

footer ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

footer ul li a {
    color: black;
    font-weight: 600;
}

.social-icon {
    font-size: 25px;
}

.social-icon__link {
    color: #000000;
    transition: transform .3s ease-in-out;
}

.social-icon__link:hover {
    transform: scale(1.7);
    color: #6c63ff;
}

.menu__footer {
    margin: 20px;
    font-weight: 600;
}

p .copyright {
    font-size: 300;
    margin-bottom: 5px;
}

@media(max-width:1280px) {
    header {
        padding: 1rem 3rem;
        gap: 5rem;
    }

    .about .about-container {
        gap: 4rem;
    }

    .input-box {
        padding: 2rem 3rem;
        font-size: 1.8rem;
    }

    .input input::placeholder,
    .input-box i {
        font-size: 1.8rem;
    }

    /* Tablette (Entre 768px et 1280px) */
    @media (max-width: 1280px) {
        header {
            padding: 1rem 2rem;
            gap: 3rem;
        }

        .about .about-container {
            gap: 3rem;
        }

        .experience-info {
            flex-direction: column;
        }

        .input-box {
            padding: 2rem;
            font-size: 1.6rem;
        }

        .input input::placeholder,
        .input-box i {
            font-size: 1.6rem;
        }
    }

    /* Mobile (Entre 600px et 768px) */
    @media (max-width: 768px) {
        header {
            padding: 1rem 1rem;
            gap: 2rem;
        }

        header .logo {
            font-size: 1.2rem;
        }

        header .visit-btn {
            display: none;
        }

        .about-container {
            flex-direction: column;
        }

        .input-box input {
            padding: 1rem;
            font-size: 1.4rem;
        }

        .input-box input::placeholder {
            font-size: 1.3rem;
        }

        .grid {
            grid-template-columns: 1fr;
        }

        .experience-info img {
            width: 90%;
        }
    }

    /* Mobile étroit (Inférieur à 600px) */
    @media (max-width: 600px) {
        header {
            padding: 1rem 1rem;
            gap: 5.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header .logo {
            font-size: 1rem;
        }

        header #menu-icone {
            display: block;
        }

        .nav-links {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 1rem;
            background: black;
            color: white;
            border-radius: 1rem;
            display: none;
            flex-direction: column;
            text-align: center;
        }

        .nav-links.active {
            display: flex;
        }

        .about-container img {
            width: 100%;
        }

        .input-box input {
            padding: 0.5rem 1rem;
            width: 100%;
            font-size: 1.2rem;
        }

        footer ul {
            gap: 1rem;
            text-align: center;
        }
    }
}